*{box-sizing: border-box;}

body {
  margin: 0; padding: 0;
}

.container {
  width: 100%;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}

canvas {
  height: 500px;
  width: 100%;
  display: block;
  background-color: white;
  border: 1px solid black;
}

#sprite{display: none;}
#stats{width: 650px; margin: 0 auto;}